@model IEnumerable<waProyectoDSW1.Models.EspecialidadModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Especialidad / @ViewData["Title"]</h1>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Listado de Especialidades</h6>
    </div>
    <div class="card-body">

        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.pk_especialidad</td>
                            <td>@item.nombre
                            <td>@item.descripcion</td>
                            <td>
                                <button class="btn-editar btn btn-primary" data-id="@item.pk_especialidad" type="button">
                                    <i class="fas fa-pen"></i>
                                </button>
                                <button class="btn-borrar btn btn-danger" data-id="@item.pk_especialidad" type="button">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="modalContainer"></div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script type="text/javascript">
    $(document).ready(function () {


        $('.btn-editar').click(function () {
            var pk_doctor = $(this).data('id');

            $.ajax({
                url: '/Especialidad/EspecialidadMant',
                type: 'GET',
                data: { pk_doctor: pk_doctor },
                success: function (html) {
                    $('#modalContainer').html(html);
                    $('#especialidadModal').modal('show');
                },
                error: function () {
                    alert('No se pudo cargar el formulario de la especialidad.');
                }
            });
        });
    });
</script>
